/* 
  This is for template.html
 
 
 FONT FAMILIES TAKEN FROM ICC WEBSITE

  This one is for p
  font-family: 'anton';
  font-style: normal;
  font-weight: 400;

  I dunno about this one yet
  font-family: 'noticia text';
  font-style: normal;
  font-weight: 400;

  TITLES h1, h2,h3
  font-family: 'nunito sans';
  font-style: normal;
  font-weight: 700;
  
  Highlighted p
  font-family: 'open sans';
  font-style: italic;
  font-weight: 700;
  */

/*
  Color schemes from website
  The IC Compassion red #bc1a38
  The IC Compassion blue #65BAC2

  */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Top Bar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #bc1a38;
  color: white;

  position: sticky; /* change from relative */
  top: 0;
  width: 100%; /* ensure full width */
  box-sizing: border-box; /* prevents overflow */

  z-index: 1100;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  FONT FAMILY
  font-family: "anton";
  font-style: normal;
  font-weight: 400;
} */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* FONT FAMILY */
  font-family: "anton";
  font-style: normal;
  font-weight: 400;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1vh;
}

.footer-logo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  grid-column: 1 / 2;
}

.footer-pantry-info {
  grid-column: 2 / 3;
}

.footer-button {
  grid-column: 3 / 4;
  display: inline-block;
  margin: 50px 20px;
  background-color: #65bac2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  align-content: center;
}
.footer-button:hover {
  background-color: #bc1a38;
}

hr {
  border-top: 2px solid #65bac2;
  width: 200px;
}

.logo span {
  cursor: pointer;
  font-size: 22px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Layout */
.container {
  display: flex;
  flex: 1;
  position: relative;
}

/* Sidebar (Sliding Drawer) */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #111; /* black */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.sidebar.active {
  transform: translateX(0);
}

/* Sidebar Items */
.sidebar-links {
  /* Originally the links were icons */
  width: 80%;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  background: transparent;
  border-left: 4px solid transparent;
  transition: all 0.2s ease;
}

.sidebar-links:hover {
  background: #bc1a38;
  border-left: 4px solid white;
  width: 80%;
}

/* Sidebar Links */
.sidebar-button {
  color: white;
  text-decoration: none;
  display: block;
  width: 80%;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}

/* Main Content */
.main {
  display: flex;
  flex: 1;
  padding: 15px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content auto min-content;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid #626262;
  border-collapse: collapse;
}
/* 
.main-structure {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid #626262;
  border-collapse: collapse;
  column-gap: 1vh;
} */
.main-structure-left {
  /* Left side box of the center */
  border-right: 2px solid #111;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  grid-column: 1 / 7;
}
.main-structure-left-two-rows {
  border-right: 2px solid #111;
  vertical-align: top;
  padding: 10px;
  grid-column: 1 / 7;
  grid-row: span 2;
}
.main-structure-right {
  /* Right side box of the center */
  /* border-left: 2px solid #111; */
  text-align: left;
  vertical-align: top;
  padding: 10px;
  grid-column: 7 / 13;
  border-bottom: 2px solid #111;
}
.main-structure-right:nth-last-child(1 of .main-structure-right) {
  border-bottom: none;
}
.main-structure-bottom {
  /* Bottom box */
  border-top: 2px solid #111;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  grid-column: 1 / 13;
}

/* Graph */
.graph {
  border: 2px solid #111;
  text-align: center;
  background-color: #65bac2;
  margin: 0 auto;

  /* Size of graphs, I dunno 
  if this will be the size for all graphs */
  /* width: 400px; */
  height: 200px;
}

/* Text titles */
p {
  font-family: "anton";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 700;
}
h1,
h3,
h5 {
  color: #bc1a38;
}
strong {
  color: #2f6e74;
}

/* For archive page */
.archive-title,
.archive-info {
  grid-column: span 12;
  padding: 0px 20px;
  height: auto;
}

.archive-table {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.archive-header {
  padding: 10px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

/* Make it so last header has no right border */
.archive-header:last-child {
  border-right: none;
}

.archive-table-item {
  padding: 10px;
  border-right: 1px solid #dddddd;
  text-align: center;
}

/* Make it so last header has no right border */
.archive-table-item:last-child {
  border-right: none;
}

/* PANTRY PAGE */
.pantry-form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 10px 0px;
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  position: relative;
}
.client-info {
  justify-self: center;
  display: flex;
  width: 100%;
  min-height: 80px;
  flex-direction: column;
  border: 1px solid #dddddd;
  border-radius: 5px;
  position: relative;
}

.family-members {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.pantry-add {
  width: 25%;
  position: absolute;
  margin-top: 10px;
  padding: 5px;
  bottom: 0;
  right: 0;
}
.pantry-edit {
  width: 25%;
  align-self: flex-end;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.pantry-close {
  width: 10%;
  align-self: flex-end;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
.pantry-submit {
  width: 25%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 0;
}

.pantry-history-info {
  margin-left: 10px;
}
.section-header {
  text-align: center;
}

.stock-table {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.stock-header {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

/* Make it so last header has no right border */
.stock-header:last-child {
  border-right: none;
}

.stock-table-item {
  padding: 10px;
  border-right: 1px solid #dddddd;
  text-align: center;
}

/* Make it so last header has no right border */
.stock-table-item:last-child {
  border-right: none;
}

/* STOCK PAGE */

.stock-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#openNewStockModal {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  padding: 3px;
}
